<h1>html-validate-protractor</h1>

<ul>
	<li><a href="valid.html">Valid page</a></li>
	<li><a href="invalid.html">Invalid page</a></li>
	<li><a href="slow.html?delay=1000">Slow page (but valid)</a></li>
</ul>
